<link rel='stylesheet' href='/welcome-style.css'>

<h1 style = "text-align:center;">Welcome to Rock, Paper, Scissors!</h1>

<h2 style = "text-align:center;">The rules are very simple:</h2>
<div style = "text-align:center;">
<img class = "aligncenter" src="../images/rules_image.gif"
alt="Rock beats scissors, scissors beats paper, paper beats rock"
>
</div>
<p> Player - Please pick your tool:<br>
<div>

  <form>
    <input class="MyButton" type="button" value="Rock"
    onclick="window.location.href='/game/rock'" />
  </form>

  <form>
    <input class="MyButton" type="button" value="Paper"
    onclick="window.location.href='/game/rock'" />
  </form>

  <form>
    <input class="MyButton" type="button" value="Scissors"
    onclick="window.location.href='/game/scissors'" />
  </form>

</div>
