<link rel='stylesheet' href='/welcome-style.css'>

<h1 style = "text-align:center;">Welcome to Rock, Paper, Scissors!</h1>

<h2 style = "text-align:center;">The rules are very simple:</h2>
<div style = "text-align:center;">
<img class = "aligncenter" src="../images/rules_image.gif"
alt="Rock beats scissors, scissors beats paper, paper beats rock"
>
</div>
<p> Player One - Please pick your tool:<br>
<button type ="button"> Rock </button> <br>
<button type = "button">Paper </button> <br>
<button type = "button"> Scissors </button><br> </p>

<p> Player Two - Please pick your tool:<br>
<button type ="button"> Rock </button> <br>
<button type = "button">Paper </button> <br>
<button type = "button"> Scissors </button><br> </p>
