<link rel='stylesheet' href='/welcome-style.css'>

<h1 style = "text-align:center;">Welcome to Rock, Paper, Scissors!</h1>

<h2 style = "text-align:center;">The rules are very simple:</h2>
<div style = "text-align:center;">
<img class = "aligncenter" src="../images/rules_image.gif"
alt="Rock beats scissors, scissors beats paper, paper beats rock"
>
</div>
<p> Player One - Please pick your tool:<br>

  <div class="button">
    <form action="/game/rock" method="get">
      <input type="hidden" name=":option1" value="Rock">
      <input type="submit" value="Rock">
    </form>
  </div>

  <div class="button">
    <form action="/game/paper" method="post">
      <input type="hidden" name=":option1" value="Paper">
      <input type="submit" value="Paper">
    </form>
  </div>

  <div class="button">
    <form action="/game/scissors" method="post">
      <input type="hidden" name=":option1" value="Scissors">
      <input type="submit" value="Scissors">
    </form>
  </div>


<p> Player Two - Please pick your tool:<br>

  <div class="button">
    <form action="/game/:option1/rock" method="get">
      <input type="hidden" name="option2" value="Rock">
      <input type="submit" value="Rock">
    </form>
  </div>


<button type = "button">Paper </button> <br>
<button type = "button"> Scissors </button><br> </p>
