body {
  background-color: #990000;
  font-family: "Courier", monospace;
  color: white;
  padding: 50;
}

input.MyButton {
width: 20%;
display: inline-block; vertical-align: top;
padding: 20px;
cursor: pointer;
font-weight: bold;
font-family: "Courier", monospace;
font-size: 20px;
color:white;
background-color: #cc0000;
border: 1px solid #660000;
border-radius: 10px;
}

input.MyButton:hover {
color: white;
background-color: #660000;
border: 1px solid #fff;
}
